* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  display: inline;
}

nav {
  background-color: #212121;
  padding: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 9999;
}

nav ul {
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-inline: 30px;
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #14ffec;
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

nav ul li a img {
  border-radius: 50%;
}

.jumbotron {
  background-image: url(../img/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-attachment: fixed;
  padding: 20px;
  text-shadow: 0px 1px 3px white;
  padding-bottom: 40px;
}

.jumbotron img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #14ffec;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron h5 {
  font-size: 20px;
}

.jumbotron h1,
.jumbotron h5 {
  transition: 0.3s;
}

/* .jumbotron h1:hover, */
.jumbotron h5:hover {
  color: #14ffec;
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

main {
  display: flex;
  background-color: #212121;
  margin-top: -25px;
  margin-bottom: 0;
  padding: 25px;
  gap: 20px;
}

article {
  background-color: rgba(50, 50, 50, 1);
  border: 3px solid #0d7377;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  transition: 0.3s;
}

article:hover {
  border: 3px solid #14ffec;
  box-shadow: 0px 0px 5px 2px rgba(20, 255, 236, 0.5),
    0px 0px 10px 5px rgba(20, 255, 236, 0.5),
    0px 0px 15px 7px rgba(20, 255, 236, 0.5);
}

article h2,
h3 {
  color: #0d7377;
  transition: 0.3s;
}

article:hover h2 {
  color: #14ffec;
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

article:hover h3 {
  color: #14ffec;
}

article p {
  color: #ffffff;
}

#content {
  display: flex;
  flex: 3.5;
  flex-flow: column nowrap;
  padding: 15px;
  padding-right: 50px;
}

#content p {
  text-align: justify;
  text-indent: 20px;
}

#content img {
  transition: 0.3s;
}

#portf img:hover {
  transform: scale(1.1);
}

table {
  color: #ffffff;
}

table th {
  padding: 10px;
  border: 1px solid #ffffff;
}

table td {
  padding: 10px;
  padding-left: 15px;
  border: 1px solid #ffffff;
}

#content img {
  border: 2px solid #ffffff;
  max-height: 280px;
  object-fit: cover;
  width: 100%;
}

#sertf img {
  transition: 0.3s;
}

#sertf img:hover {
  transform: scale(1.2);
}

aside {
  flex: 1.5;
  padding: 15px;
}

footer {
  background-color: #212121;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: -20px;
  color: white;
  box-shadow: 0 -10px 10px 3px rgba(0, 0, 0, 0.5);
}
footer a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

footer a:hover {
  color: #14ffec;
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}

.textcenter {
  text-align: center;
}

.textbold {
  font-weight: bold;
}

figure {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.row {
  display: inline-flex;
  width: 45%;
  justify-content: center;
}

.gitlink {
  padding: 8px;
  background-color: #0d7377;
  border-radius: 10px;
  transition: 0.3s;
}

.gitlink a {
  text-decoration: none;
  color: #ffffff;
}

.gitlink:hover {
  background-color: #14ffec;
  box-shadow: 0px 0px 2px 1px rgba(20, 255, 236, 0.5),
    0px 0px 4px 2px rgba(20, 255, 236, 0.5),
    0px 0px 6px 3px rgba(20, 255, 236, 0.5);
}

.circle {
  border-radius: 50%;
}

aside img {
  border: 3px solid #0d7377;
  transition: 0.3s;
}

aside:hover img {
  border-color: #14ffec;
}

aside th,
aside td,
.row th,
.row td {
  border: none;
}

aside th,
.row th {
  text-align: left;
}

aside a {
  text-decoration: none;
  color: #ffffff;
}

aside a:hover {
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

.sert {
  min-height: 5000px;
}

.widesertf{
  width: 95%;
}

/* CSS untuk tampilan desktop */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px; /* Jarak antar menu */
}

/* CSS untuk tampilan mobile atau layar kecil */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Mengubah orientasi menjadi vertikal */
    align-items: center; /* Pusatkan menu secara horizontal */
  }

  nav ul li {
    margin-right: 0; /* Hapus margin kanan pada menu */
    margin-bottom: 10px; /* Tambahkan jarak antar menu vertikal */
  }
}

nav {
  display: flex;
  align-items: center;
}

.drawer-toggle {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.drawer-toggle:hover{
  text-shadow: 0px 0px 10px #14ffec, 0px 0px 20px #14ffec, 0px 0px 30px #14ffec;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px; /* Jarak antar menu */
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Sembunyikan daftar menu secara default pada layar kecil */
    flex-direction: column; /* Tampilkan menu secara vertikal */
    align-items: center; /* Pusatkan menu secara horizontal */
    position: absolute;
    top: 60px; /* Sesuaikan posisi menu dropdown dengan navbar */
    left: 0;
    width: 100%;
    background-color: #212121;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .menu.open {
    display: flex; /* Tampilkan daftar menu saat drawer dibuka */
  }
}

/* CSS untuk tampilan desktop */
.drawer-toggle {
  display: none; /* Sembunyikan tombol drawer secara default pada tampilan desktop */
}

@media (max-width: 768px) {
  /* CSS untuk tampilan mobile atau layar kecil */
  .drawer-toggle {
    display: block; /* Tampilkan tombol drawer pada tampilan mobile */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  nav{
    justify-content: flex-start;
  }
}

